<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="/lib/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="container">
        <form action="/users/login" method="POST" class="form-inline">
            <label>
                <span>用户名:</span>
                <input type="text" name="name" placeholder="请输入用户名" class="form-control">
            </label>
            <label>
                <span>密　码:</span>
                <input type="password" name="pwd" placeholder="请输入密码" class="form-control">
            </label>
            <input type="submit" value="登录" class="btn btn-default">
        </form>

    </div>

</body>

</html>