<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="/lib/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="container">
        <form action="/users/register" method="POST" class="form-inline">
            <label>
                <span>用户名:</span>
                <input type="text" name="name" placeholder="请输入用户名" class="form-control">
            </label>
            <div class="yhts"></div>
            <label>
                <span>密　码:</span>
                <input type="password" name="pwd" placeholder="请输入密码" class="form-control">
            </label>
            <div class="mmts"></div>
            <label>
                <span>昵　称:</span>
                <input type="text" name="nickname" placeholder="请输入昵称" class="form-control">
            </label>
            <label>
                <span>年　龄:</span>
                <input type="text" name="age" placeholder="请输入年龄" class="form-control">
            </label>
            <label>
                <span>性　别:</span>
                <input type="radio" name="sex" value="男" checked>男
                <input type="radio" name="sex" value="女">女
            </label>
            <label>
                <span>管理员:</span>
                <input type="radio" name="isAdmin" value="是">是
                <input type="radio" name="isAdmin" value="否" checked>否
            </label>
            <input type="submit" value="注册" class="btn btn-default">
        </form>

    </div>
    <script src="/js/jquery.js"></script>
</body>

</html>