@charset "UTF-8";
/* 整个项目都能使用的样式 */
html, body {
  height: 100%;
}

body {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3eced8), to(#7e2ac4));
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.lv-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #000;
}
.lv-head .logo {
  font-size: 26px;
  text-decoration: none;
}
.lv-head .right {
  width: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.lv-foot {
  height: 50px;
  border-top: 1px solid #000;
}

.lv-menu {
  width: 200px;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid #000;
}
.lv-menu li {
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: black;
  border-bottom: 1px solid #000;
}
.lv-menu li a {
  color: black;
  text-decoration: none;
}
.lv-menu li a .tocnumber {
  font-size: 9px;
  width: 20px;
  line-height: 20px;
  height: 20px;
  margin-right: 5px;
  border-bottom: none;
  border: 1px solid #8a8a8a;
  background-color: transparent;
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
.lv-menu li a .tocnumber {
  background: #ffffff;
}

.lv-menu > li:first-child {
  background: #0bd30b;
}
.lv-menu > li:first-child a:hover > .tocnumber {
  background: #0bd30b;
}

.lv-menu > li:nth-child(2) {
  background: #f00b03;
}
.lv-menu > li:nth-child(2) a:hover > .tocnumber {
  background: #f00b03;
}

.lv-menu > li:nth-child(3) {
  background: #26d0ee;
}
.lv-menu > li:nth-child(3) a:hover > .tocnumber {
  background: #26d0ee;
}

.lv-menu > li:nth-child(4) {
  background: #a86207;
}
.lv-menu > li:nth-child(4) a:hover > .tocnumber {
  background: #a86207;
}

.lv-menu > li:nth-child(5) {
  background: #fffb00;
}
.lv-menu > li:nth-child(5) a:hover > .tocnumber {
  background: #fffb00;
}

.lv-menu > li:nth-child(6) {
  background: rgba(22, 22, 1, 0.856);
}
.lv-menu > li:nth-child(6) a:hover > .tocnumber {
  background: rgba(22, 22, 1, 0.856);
}

.lv-menu > li:nth-child(7) {
  background: linear-gradient(to right, #11c93f, #167fe0, #da31a7);
}
.lv-menu > li:nth-child(7) a:hover > .tocnumber {
  background: linear-gradient(to right, #11c93f, #167fe0, #da31a7);
}

.lv-main {
  flex: 1;
  display: flex;
  background: #ffffff;
}
.lv-main .body {
  flex: 1;
  padding: 0 20px;
  background: url(../images/sjm.jpg) no-repeat;
  background-size: 80% 80%;
  background-position: 40% 35%;
  opacity: 0.7;
  position: relative;
}

.table-bordered > tbody > tr > .tupian {
  width: 100px;
  height: 124px;
  padding: 2px;
  text-align: center;
}
.table-bordered > tbody > tr > .tupian img {
  width: 100px;
  height: 100%;
  margin: 0;
}

.search-bar {
  margin: 10px 0;
}

.table-hover > tbody > tr:hover {
  background: aqua;
}

.table > caption {
  text-align: center;
}

.pagination {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 10px 0 0;
}

/*# sourceMappingURL=common.css.map */
