<div class="lv-head">
    <div class="left">
        <a href="/" class="logo">GBF资料管理系统</a>
    </div>
    <div class="right">
        <p>欢迎你</p>
        <button class="btn btn-primary">退出</button>

    </div>
</div>