<ul class="lv-menu">
    <li>
        <a href="/wind.html">风属性</a>
    </li>
    <li>
        <a href="/fire.html">火属性</a>
    </li>
    <li>
        <a href="/water.html">水属性</a>
    </li>
    <li>
        <a href="/soil.html">土属性</a>
    </li>
    <li>
        <a href="/light.html">光属性</a>
    </li>
    <li>
        <a href="/dark.html">暗属性</a>
    </li>
    <li>
        <a href="/superman.html">十天众</a>
    </li>
</ul>