<ul class="lv-menu">
    <li>
        <a href="/wind.html">
            <span class="tocnumber">1</span>
            风属性
        </a>
    </li>
    <li>
        <a href="/fire.html">
            <span class="tocnumber">2</span>
            火属性
        </a>
    </li>
    <li>
        <a href="/water.html">
            <span class="tocnumber">3</span>
            水属性
        </a>
    </li>
    <li>
        <a href="/soil.html">
            <span class="tocnumber">4</span>
            土属性
        </a>
    </li>
    <li>
        <a href="/light.html">
            <span class="tocnumber">5</span>
            光属性
        </a>
    </li>
    <li>
        <a href="/dark.html">
            <span class="tocnumber">6</span>
            暗属性
        </a>
    </li>
    <li>
        <a href="/superman.html">
            <span class="tocnumber">7</span>
            十天众
        </a>
    </li>
</ul>